.About {
  max-width: 70em;
  margin: 0 auto;
  font-size: 0.9em;
}

.About .intro-cards {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.About .intro-cards .card-wrapper {
  width: 33%;
  min-width: 20em;
  padding: 1em;
  display: flex;
  align-items: stretch;
}

.About .intro-cards .card {
  padding: 1em;
}

.About .card li {
  margin-left: 1em;
}

.About ul {
  list-style: disc;
}

.About li {
  text-align: left;
}

.About p {
  text-align: left;
}

.About .suitable-for-text {
  margin: auto;
  max-width: 50em;
}